<h3>Hello there!</h3>

<form action="/user_birthday" method="post">
  What's your name? 
  <input type="text" name="name">

  When's your birthday? 
  day:
  <input type="text" name="day">

  month:
  <select name="month">
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select>

  <input type="submit" value="Go">
</form>

