<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Greeting!</title>
    <link href="<%= url('/normalise.css') %>" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
    <link href="<%= url('/main.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>

<div class = 'landing_message'>
<h2>Hello there!</h2>
</div>

<div class = 'form'>
<form action="/greeting" method="post">
  What's your name? 
  <input type="text" name="name"><br>

  When's your birthday?<br>
  day:
  <input type="number" name="day"><br>
  month:
  <select name="month">
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select>

  <input type="submit" value="Go">
</form>
</div>

</body>
</html>

