<h3>Hello there!</h3>

<form action="/user_birthday" method="post">
  What's your name? <input type="text" name="name">



  When's your birthday? 
  <input type="text" name="name">




  <input type="submit" value="Go">
</form>

